@font-face {
  font-family: taylorSwiftFolklore;
  src: url(../webfonts/IMFePIit28P.ttf);
}

@font-face {
  font-family: taylorSwiftFolkloreNotItalic;
  src: url(../webfonts/IMFePIrm28P.ttf);
}

@font-face {
  font-family: glacialIndifferenceBold;
  src: url(../webfonts/GlacialIndifference-Bold.otf);
}

@font-face {
  font-family: glacialIndifference;
  src: url(../webfonts/GlacialIndifference-Regular.otf);
}


html{
	height: 100%;
}

body{
	height: 100%;
}

h4{
	font-family: 'taylorSwiftFolklore';
    font-size: 45px !important;
    font-weight: bold;
    margin-top: 12px !important;
    margin-bottom: 12px !important;
}

h5{
	font-family: 'taylorSwiftFolkloreNotItalic';
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 24px;
}

#rightPane {
	height: 100%;
	border-left: #aa9d9d;
    border-left-style: solid;
    border-left-width: 2px;
    overflow-y: auto;
    z-index: 99;
    background-color: #d1b99a;
    box-shadow: -15px 0px 25px -14px rgba(0,0,0,0.75);
	-webkit-box-shadow: -15px 0px 25px -14px rgba(0,0,0,0.75);
	-moz-box-shadow: -15px 0px 25px -14px rgba(0,0,0,0.75);
}

#leftPane{
	padding-right: 0px;
    z-index: 0;
}

#treeImg{
	width: 45%;
	margin-left: 12px;
	padding: 12px;
	z-index: 102;
	border-style: solid;
    border-width: 1px;
    border-color: #84651a;
    border-radius: 12px;
    background-color: #e3dbd2;
}

#initContent{
	padding-left: 12px;
    padding-right: 12px;
    padding-top: 12px;
}

#map{
	height: 100%;
    width: 100%;
}

#treeSrc{
	max-width: 100%;
 	object-fit: contain;
}

#treeLatinHeader{
	padding: 12px;
    background-color: #A1C39C;
    border-radius: 14px;
    font-weight: bold;
    color: #FFFF;
}

#treeContentDiv{
	margin-right: -12px;
	padding-right: 12px;
}

#latinName{
	font-size: 24px;
    font-style: italic;
}

#treeDescContainer{
	padding: 12px;
}

#closeTreeInfo{
	cursor: pointer;
	margin-right: 4px;
}

#treeDescRightDiv{
	width: 50%;
    margin-left: 12px;
    border-left-color: black;
    border-left-style: solid;
    border-width: 1px;
}

.subheader{
	font-family: 'taylorSwiftFolkloreNotItalic';
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 12px;
}

.text-justify{
	text-align: justify;
}

.m-tb-12{
	margin-top: 12px !important;
	margin-bottom: 12px !important;
}

.hide{
	display: none !important;
}

.full-width{
	width: 100%;
}

.full-width-minus-12{
	width: calc(100% + 12px);
}

.full-height{
	height: 100%;
}

.lightense-backdrop{
	z-index: 1 !important;
}

.overflow-y-clip{
	overflow-y: clip !important;
}

.fw-bold{
	font-weight: bold;
}

.body-text{
	font-family: glacialIndifference;
    font-size: 18px;
}

.desc-tree-narrative{
	padding-left: 14px !important;
    margin-bottom: 28px !important;
    margin-top: 12px !important;
}

.mb-12{
	margin-bottom: 12px;
}

.tree-section-header{
	font-family: 'taylorSwiftFolkloreNotItalic';
    font-size: 18px;
    font-weight: bold;
}

.glacial-indifference{
	font-family: glacialIndifference;
}

@media only screen and (max-width: 992px) {
	#leftPane{
		height: 100%;
	}
}

@media only screen and (min-width: 992px) {
	#leftPane{
		height: auto;
	}
}